@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

button, a.btn {
  display: inline-block;
  font-family: $ff-roboto;
  background: $linear-gradient;
  color: white;
  font-weight: 400;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  box-shadow: #0000006e 3px 2px 3px;
  transition: .2s;
  @include border-radius(30px, 30px, 30px, 30px);
  &:hover {
    box-shadow: #0000006e 4px 3px 3px;
    filter: brightness(1.1);
    background: $linear-gradient;
  }
 &-large {
   @extend .btn;
    padding: 1rem 3rem;
  }
}
