@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

.restaurants__card {
  position: relative;
  flex: 1;
  @include border-radius();
  @include box-shadow();
  background-color: white;
  &:hover {
    img {
      @include brightness-effect();
    }
  }

  &_new {
    @include border-radius(5px, 5px, 5px, 5px);
    background-color: #99e2d0;
    color: #008766;
    margin: 1rem;
    padding: 0.2rem 0.7rem;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_image img {
    width: 100%;
    max-height: 130px;
    object-fit: cover;
    @include border-radius(20px, 20px, 0, 0);
  }

  &__content {
    display: flex;
    padding: 1rem;
    &_body {
      flex: 1;
    }
  }

  &_heart {
    transition: 0.2s;
    font: normal normal normal 14px/1 ForkAwesome;
    content: "\f08a";

    &:hover {
      cursor: pointer;
      font: normal normal normal 14px/1 ForkAwesome;
      content: "\f004";
      color: $primary;
    }
  }
}
