@import "../utils/_variables.scss";

@mixin ff-shrikhand {
  font-family: $ff-shrikhand;
}

@mixin ff-roboto {
  font-family: $ff-roboto;
}

@mixin border-radius($radius1 : 20px, $radius2 : 20px, $radius3 : 20px, $radius4 : 20px) {
  border-radius: $radius1 $radius2 $radius3 $radius4;
}

@mixin box-shadow() {
  box-shadow: #35353547 2px 3px 10px;
}

@mixin mw-1300 {
  max-width: 1300px;
  margin: 0 auto;
}

@mixin brightness-effect($value : .8) {
  transition: .2s;
  filter: brightness($value);
}

