/* ------------------ Colors ------------------ */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

/* ------------------ Fonts ------------------ */
@font-face {
  font-family: 'Shrikhand';
  src: url("assets/fonts/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

$ff-shrikhand: 'Shrikhand', sans-serif;
$ff-roboto: 'Roboto', sans-serif;

